
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto','sans-serif';
}
/*------MEU BANNER QUE FICA NO INICIO DA PÁGINA-------*/

.banner{
  background: url(images/baner.png) no-repeat;
  background-size: cover;
  height: 80vh;
}

/*------CAMPO ONDE ESTÁ O MEU MENU-------*/

.menu-navegacao {
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.4);

}

/*------TODO A TABELA DO MEU MENU-------*/

.menu-navegacao ul {
  float:  right;
  margin-right: 20px;
}

/*------CADA ITEM DE LISTA DO MEU MENU-------*/

.menu-navegacao ul li {
  list-style: none;
  margin: 0 8px;
  display: inline;
  line-height: 80px;

}

/*------ COMPORTAMENTO DOS LINKS DE CADA ITEM DE LISTA DO MEU MENU-------*/

.menu-navegacao ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 13px;
  transition: .4s;
}

/*------COMPORTAMENTO DO MEU ITEM/LINK DA LISTA QUANDO O MOUSE ESTÁ ACIMA-------*/

.menu-navegacao ul li a.ativo, .menu-navegacao ul li a:hover {
  background: black;
  border-radius: 2px;
}

/*------LOGO-------*/
.logo {
  width: 240px;
  height: auto;
  padding: 0px 10px;
  margin-top: -70px;

}

/*------TABELA-------*/
table, th,td{
  margin: 60px;
  border-bottom: 1px solid #ddd;
}

th{
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
  background-color: lightgray;
  height: 30px;
}

td{
  text-align: left;
  height: 20px;
  vertical-align: middle;
  padding: 15px;
}

tr:hover {
background-color: blueviolet;
font-weight: bolder;
color: white;
}
